<div class="container-fluid px-5 pt-3">
    <!-- Top Section: Logo & Date -->
    <div class="d-flex justify-content-between align-items-center">
        <!-- Left: Ashoka Logo -->
        <img src="/assets/img/ashoka-logo.png" alt="Ashoka University Logo" height="80">
        
        <!-- Right: Date & Time -->
        <div class="text-end">
            <a class="" href="/"><h5>Home</h5></a>

        </div>
    </div>

    <!-- Red Banner -->
    <div class="header-bar text-white text-center py-3 mt-3">
        <h1 class="fw-bold m-0">ASHOKA UNIVERSITY MAILROOM</h1>
        <div style="margin-top:10px;">
            <span id="day" class="fs-7 fw-normal"></span>,
            <span id="date" class="fs-7 fw-normal"></span>
        </div>
    </div>
</div>
