<div class="package-card">
    <div class="flex justify-between items-center">
      <div>NO.: <%= packageNumber %></div>
      <div><%= timestamp %></div>
      <div><%= deliveryPartner %></div>
      <input type="checkbox" class="package-checkbox" value="<%= packageNumber %>">
    </div>
  </div>
  